
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta charset="utf-8">
  <title>Spanglish</title>
  <meta name="description" content=""/>

  <!-- Loading Bootstrap -->
  <link href="flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="flat-ui/css/flat-ui.css" rel="stylesheet">
  <link href="flat-ui/css/demo.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

  <link href="css/spanglish.css" rel="stylesheet">


  <link rel="shortcut icon" href="flat-ui/flat-ui/images/favicon.ico">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="flat-ui/js/html5shiv.js"></script>
      <script src="flat-ui/js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <!-- START FACEBOOK SCRIPT -->
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
                FB.init({
                appId      : '1452060145024625',
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
                });

                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                      // the user is logged in and has authenticated your
                      // app --> do nothing
                      console.log("chat.handlebars --> user token live");
                    } else if (response.status === 'not_authorized') {
                      // the user is logged in to Facebook, 
                      // but has not authenticated app
                      console.log("chat.handlebars --> app not authenticated");
                      window.location.replace("index");
                    } else {
                      // the user isn't logged in to Facebook.
                      console.log("chat.handlebars --> user not logged in");
                      window.location.replace("/");
                    }
                });
          };

          // Load the Facebook SDK asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
          }(document));

          // Logout the user and redirect to the homepage
          function logout() {
            console.log("chat.handlebars --> logging out");
            FB.logout(function(response) {
              window.location.replace("/");
            });
          }
  
      </script>
      <!-- END FACEBOOK SCRIPT -->


<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

  <div class="container-fluid">


    <nav class="navbar navbar-default navbar-fixed-top top-buttons" role="navigation">
      <div class="container-fluid testing">

       <!-- Nav tabs -->
       <ul class="nav nav-pills nav-justified navbar-btn">
        <li class="active"><a class="col-xs-4" href="#chats" data-toggle="tab"><i class="fa fa-comments"></i></a></li>
        <li><a class="col-xs-4" href="#friends" data-toggle="tab"><i class="fa fa-users"></i></a></li>
        <li><a class="col-xs-4" href="#settings" data-toggle="tab"><i class="fa fa-cog"></i></a></li>
      </ul>

    </div>
  </nav>




  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="chats">

   

      <table>
        {{#each messages}}
        <tr class="friend convo-link" href="/conversation/{{friend._id}}">
          <td class="pic" rowspan=2><img class="img-responsive img-circle" src="{{friend.image}}"/></td>
          <td>{{friend.name}}</td>
        </tr>
        <tr class="bottom"><td class="description">{{message.translated}}<td></tr>
        {{/each}}
      </table>
    </div>

    <div class="tab-pane" id="friends">

      <div class="input-group">
        <input type="text" class="form-control">


        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->

<!--<input class="countries" type="text" placeholder="Countries">-->

      <table>
        {{#each users}}
        <tr class="friend bottom convo-link" href="conversation/{{user_two._id}}">
          <td class="pic"><img class="img-responsive img-circle" src="{{user_two.image}}"/></td>
          <td>{{user_two.name}}</td>
        </tr>
        {{/each}}
      </table>


    </div>

    <div class="tab-pane" id="settings">
      <div class="info">
        <h5> {{curr_user.name}} </h5>
        <img class="img-circle bigger-pic" src="{{curr_user.image}}"/>
      </div>

      <div style="display: none ;" id="save-notice" class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> Changes saved!
      </div>


      <form id="settingform" class="form-horizontal" action="chat/changeSettings">
        <fieldset>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="sendlang">Send Language (current: {{curr_user.send_language}})</label>
            <div class="col-md-6">
              <select id="sendlang" name="sendlang" class="form-control">
                <option value="en">English</option>
                <option value="es">Spanish</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="receivelang">Recieve Language (current: {{curr_user.receive_language}})</label>
            <div class="col-md-6">
              <select id="recievelang" name="recievelang" class="form-control">
                <option value="en">English</option>
                <option value="es">Spanish</option>
              </select>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-4">
              <button id="save" name="save" class="btn btn-inverse">Save Changes</button>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-4">
              <button id="save" name="save" class="btn btn-inverse" onclick = "logout()">Log Out</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">

        <a href="#fakelink" class="btn btn-block btn-lg btn-primary navbar-btn" data-toggle="modal" data-target="#new-msg">New Message <i class="fa fa-envelope"></i></span>
        </a>

      </div>
    </nav>

    <div class="modal fade bs-modal-sm" id="new-msg">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
            <form class="form-horizontal" id="messageform" action="chat/sendMessage">
              <fieldset>

                <!-- Form Name -->

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="recipient">Recipient</label>  
                  <div class="col-md-6">
                    <input id="recipient" name="recipient" type="text" placeholder="" class="form-control input-md" required="">
                  </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="message">Message</label>
                  <div class="col-md-4">                     
                    <textarea class="form-control" id="message" name="message"></textarea>
                  </div>
                </div>
                <div class="centered form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                  <button type="button" id="sendmessage" class="btn btn-primary" data-dismiss="modal">Send message</button>
                </div>
              </fieldset>
            </form>


          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- Load JS here for greater good =============================-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="flat-ui/js/jquery-1.8.3.min.js"></script>
    <script src="flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="flat-ui/js/jquery.ui.touch-punch.min.js"></script>
    <script src="flat-ui/js/bootstrap.min.js"></script>
    <script src="flat-ui/js/bootstrap-select.js"></script>
    <script src="flat-ui/js/bootstrap-switch.js"></script>
    <script src="flat-ui/js/flatui-checkbox.js"></script>
    <script src="flat-ui/js/flatui-radio.js"></script>
    <script src="flat-ui/js/jquery.tagsinput.js"></script>
    <script src="flat-ui/js/jquery.placeholder.js"></script>
    <script src="flat-ui/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="flat-ui/js/application.js"></script>
    <script src="js/clickable.js"></script>
    <script src="js/index.js"></script>
    <script src="typeahead.js/typeahead.bundle.js"></script>
    <script src="typeahead.js/typeahead.jquery.js"></script>



  </body>
  </html>

