
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta charset="utf-8">
  <title>Spanglish</title>
  <meta name="description" content=""/>

  <!-- Loading Bootstrap -->
  <link href="flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="flat-ui/css/flat-ui.css" rel="stylesheet">
  <link href="flat-ui/css/demo.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

  <link href="css/spanglish.css" rel="stylesheet">


  <link rel="shortcut icon" href="flat-ui/flat-ui/images/favicon.ico">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="flat-ui/js/html5shiv.js"></script>
      <script src="flat-ui/js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div id="fb-root"></div>
      <div id="fb-root"></div>
      <script>
      window.fbAsyncInit = function() {
          FB.init({
            appId      : '1452060145024625',
            status     : true,
            xfbml      : true
          });

          FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
              // the user is logged in and has authenticated our
              // app, and response.authResponse supplies
              // the user's ID, a valid access token, a signed
              // request, and the time the access token 
              // and signed request each expire
              var uid = response.authResponse.userID;
              var accessToken = response.authResponse.accessToken;
              FB.api('/me', function(response) { console.log(response.name + " is logged in") });
              // getFriends();
            } else if (response.status === 'not_authorized') {
              // the user is logged in to Facebook, 
              // but has not authenticated our app
              console.log("User has not authenticated app");
              window.location.replace("index");
            } else {
              // the user isn't logged in to Facebook.
              console.log("User not logged into FB");
              window.location.replace("/");
            }
          });

          function getFriends() {
              FB.api('/me', function(response) { console.log("Welcome, " + response.name + "!")});

              FB.api('/me/friends', 
                          function(response) {
                            if(response.data) {
                              
                              // functionality to iterate through the friends
                              var num = 0;
                              $.each(response.data,function(index,friend) {
                                var fbID = new String(friend.id);
                                var friend = new String(friend.name);
                                console.log(friend + ', id:' + fbID);
                              });
                            } else {
                              console.log("Error!");
                            }
              });
          }
      };

      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
      </script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

  <div class="container-fluid">


    <nav class="navbar navbar-default navbar-fixed-top top-buttons" role="navigation">
      <div class="container-fluid testing">

       <!-- Nav tabs -->
       <ul class="nav nav-pills nav-justified navbar-btn">
        <li class="active"><a class="col-xs-4" href="#chats" data-toggle="tab"><i class="fa fa-comments"></i></a></li>
        <li><a class="col-xs-4" href="#friends" data-toggle="tab"><i class="fa fa-users"></i></a></li>
        <li><a class="col-xs-4" href="#settings" data-toggle="tab"><i class="fa fa-cog"></i></a></li>
      </ul>

    </div>
  </nav>




  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="chats">
      <table>
        {{#each users}}
        <tr class="friend convo-link" href="/conversation/{{name}}">
          <td class="pic" rowspan=2><img class="img-responsive img-circle" src="{{image}}"/></td>
          <td>{{name}}</td>
        </tr>
        <tr class="bottom"><td class="description">{{description}}<td></tr>
        {{/each}}
      </table>
    </div>

    <div class="tab-pane" id="friends">

      <div class="input-group">
        <input type="text" class="form-control">


        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->

<input class="countries" type="text" placeholder="Countries">

      <table>
        {{#each users}}
        <tr class="friend bottom convo-link" href="conversation/{{name}}">
          <td class="pic"><img class="img-responsive img-circle" src="{{image}}"/></td>
          <td>{{name}}</td>
        </tr>
        {{/each}}
      </table>


    </div>

    <div class="tab-pane" id="settings">
      <div class="info">
        <h5> Emma Guth </h5>
        <img class="img-circle" src="http://placekitten.com/90/90"/>
      </div>
      <form id="settingform" class="form-horizontal" action="chat/changeSettings">
        <fieldset>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="sendlang">Send Language</label>
            <div class="col-md-6">
              <select id="sendlang" name="sendlang" class="form-control">
                <option value="1">English</option>
                <option value="2">Spanish</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="receivelang">Recieve Language</label>
            <div class="col-md-6">
              <select id="recievelang" name="recievelang" class="form-control">
                <option value="1">English</option>
                <option value="2">Spanish</option>
              </select>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-4">
              <button id="save" name="save" class="btn btn-inverse">Save Changes</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">

        <a href="#fakelink" class="btn btn-block btn-lg btn-primary navbar-btn" data-toggle="modal" data-target="#new-msg">New Message <i class="fa fa-envelope"></i></span>
        </a>

      </div>
    </nav>

    <div class="modal fade bs-modal-sm" id="new-msg">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
            <form class="form-horizontal" id="messageform" action="chat/sendMessage">
              <fieldset>

                <!-- Form Name -->

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="recipient">Recipient</label>  
                  <div class="col-md-6">
                    <input id="recipient" name="recipient" type="text" placeholder="" class="form-control input-md" required="">
                  </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="message">Message</label>
                  <div class="col-md-4">                     
                    <textarea class="form-control" id="message" name="message"></textarea>
                  </div>
                </div>
                <div class="centered form-group">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                  <button type="button" id="sendmessage" class="btn btn-primary" data-dismiss="modal">Send message</button>
                </div>
              </fieldset>
            </form>


          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- Load JS here for greater good =============================-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="flat-ui/js/jquery-1.8.3.min.js"></script>
    <script src="flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="flat-ui/js/jquery.ui.touch-punch.min.js"></script>
    <script src="flat-ui/js/bootstrap.min.js"></script>
    <script src="flat-ui/js/bootstrap-select.js"></script>
    <script src="flat-ui/js/bootstrap-switch.js"></script>
    <script src="flat-ui/js/flatui-checkbox.js"></script>
    <script src="flat-ui/js/flatui-radio.js"></script>
    <script src="flat-ui/js/jquery.tagsinput.js"></script>
    <script src="flat-ui/js/jquery.placeholder.js"></script>
    <script src="flat-ui/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="flat-ui/js/application.js"></script>
    <script src="js/clickable.js"></script>
    <script src="js/index.js"></script>
    <script src="typeahead.js/typeahead.bundle.js"></script>
    <script src="typeahead.js/typeahead.jquery.js"></script>



  </body>
  </html>

