
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta charset="utf-8">
  <title>Spanglish</title>
  <meta name="description" content=""/>

  <!-- Loading Bootstrap -->
  <link href="flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="css/spanglish.css" rel="stylesheet">


  <!-- Loading Flat UI -->
  <link href="flat-ui/css/flat-ui.css" rel="stylesheet">
  <link href="flat-ui/css/demo.css" rel="stylesheet">

  <link rel="shortcut icon" href="flat-ui/flat-ui/images/favicon.ico">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="flat-ui/js/html5shiv.js"></script>
      <script src="flat-ui/js/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div id="fb-root"></div>
      <div id="fb-root"></div>
      <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1452060145024625',
          status     : true,
          xfbml      : true
        });

        FB.Event.subscribe('auth.authResponseChange', function(response) {
          // Here we specify what we do with the response anytime this event occurs. 
          if (response.status === 'connected') {
            // The response object is returned with a status field that lets the app know the current
            // login status of the person. In this case, we're handling the situation where they 
            // have logged in to the app.
            testAPI();
          } 
        });

        function testAPI() {
          FB.api('/me', function(response) {
            console.log('Good to see you, ' + response.name + '.');
            var numFriends = localStorage.getItem('numFriends');

            for (var i = 0; i < numFriends; i++) {
              var friendTag = new String('friend' + i);
              var friendName = localStorage.getItem(friendTag);
              console.log(friendName);
            };
          });

          
        }
      };

      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
      </script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

  <div class="container-fluid">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">

       <!-- Nav tabs -->
       <ul class="nav nav-pills nav-justified">
        <li class="active"><a class="col-xs-4 navbar-btn" href="#chats" data-toggle="tab"><span class="fui-chat"></span></a></li>
        <li><a class="col-xs-4 navbar-btn" href="#friends" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span></a></li>
        <li><a class="col-xs-4 navbar-btn" href="#settings" data-toggle="tab"><span class="fui-gear"></span></a></li>
      </ul>

    </div>
  </nav>




  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="chats">
      <table>
        {{#each friends}}
        <tr class="friend">
          <td rowspan=2><img class="img-responsive img-circle" src="{{imageURL}}"/></td>
          <td><a href="conversation/{{name}}">{{name}}</a></td>
        </tr>
        <tr class="bottom"><td>{{description}}<td></tr>

        {{/each}}
      </table>
    </div>

    <div class="tab-pane" id="friends">

        <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->

    <table>
      {{#each friends}}
      <tr class="friend bottom">
        <td><img class="img-responsive img-circle" src="{{imageURL}}"/></td>
        <td><a href="conversation/{{name}}">{{name}}</a></td>
      </tr>
      {{/each}}
    </table>

    
  </div>

  <div class="tab-pane" id="settings">
    <div class="info">
      <h5> Emma Guth </h5>
      <img class="img-circle" src="http://placekitten.com/90/90"/>
    </div>
    <form id="settingform" class="form-horizontal" action="chat/changeSettings">
      <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Change Name</label>  
          <div class="col-md-6">
            <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Change Password</label>
          <div class="col-md-6">
            <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="sendlang">Send Language</label>
          <div class="col-md-6">
            <select id="sendlang" name="sendlang" class="form-control">
              <option value="1">English</option>
              <option value="2">Spanish</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="receivelang">Recieve Language</label>
          <div class="col-md-6">
            <select id="recievelang" name="recievelang" class="form-control">
              <option value="1">English</option>
              <option value="2">Spanish</option>
            </select>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save"></label>
          <div class="col-md-4">
            <button id="save" name="save" class="btn btn-inverse">Save Changes</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>


  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">

      <a href="#fakelink" class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#new-msg">New Message <span class="fui-mail"></span>
      </a>

    </div>
  </nav>

  <div class="modal fade bs-modal-sm" id="new-msg">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <form class="form-horizontal" id="messageform" action="chat/sendMessage">
            <fieldset>

              <!-- Form Name -->

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="recipient">Recipient</label>  
                <div class="col-md-6">
                  <input id="recipient" name="recipient" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="message">Message</label>
                <div class="col-md-4">                     
                  <textarea class="form-control" id="message" name="message"></textarea>
                </div>
              </div>
              <div class="centered form-group">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <button type="button" id="sendmessage" class="btn btn-primary" data-dismiss="modal">Send message</button>
              </div>
            </fieldset>
          </form>


        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



  <!-- Load JS here for greater good =============================-->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="flat-ui/js/jquery-1.8.3.min.js"></script>
  <script src="flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="flat-ui/js/jquery.ui.touch-punch.min.js"></script>
  <script src="flat-ui/js/bootstrap.min.js"></script>
  <script src="flat-ui/js/bootstrap-select.js"></script>
  <script src="flat-ui/js/bootstrap-switch.js"></script>
  <script src="flat-ui/js/flatui-checkbox.js"></script>
  <script src="flat-ui/js/flatui-radio.js"></script>
  <script src="flat-ui/js/jquery.tagsinput.js"></script>
  <script src="flat-ui/js/jquery.placeholder.js"></script>
  <script src="flat-ui/js/jquery.stacktable.js"></script>
  <script src="http://vjs.zencdn.net/4.3/video.js"></script>
  <script src="flat-ui/js/application.js"></script>
  <script src="/js/introHCI.js"></script>
</body>
</html>

