
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta charset="utf-8">
	<title>Spanglish</title>
	<meta name="description" content=""/>

	<!-- Loading Bootstrap -->
	<link href="../flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../css/spanglish.css" rel="stylesheet">


	<!-- Loading Flat UI -->
	<link href="../flat-ui/css/flat-ui.css" rel="stylesheet">
	<link href="../flat-ui/css/demo.css" rel="stylesheet">

	<link rel="shortcut icon" href="../flat-ui/flat-ui/images/favicon.ico">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="flat-ui/js/html5shiv.js"></script>
	      <script src="flat-ui/js/respond.min.js"></script>
	      <![endif]-->
	  </head>
	  <body>

	  	<div class="container-fluid">
	  		
	  		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  			<div class="container-fluid back-button">
	  				<p><a href="../chat"><span class="glyphicon glyphicon-chevron-left"></span></a> {{name}} </p>
	  			</div>
	  		</nav>
	  		


	  		<div class="convo">
	  			{{#each data.conversation}}
	  			<div class="message well">
	  				<img class="img-circle convo-pic" src="{{image}}"/>
	  				<div class="from-date">
	  					<p>{{from}}</p>
	  					<p>{{time}}</p>
	  				</div>
	  				
	  				<p class="msg-text">{{message}}</p>

	  			</div>
	  			{{/each}}
	  		</div>

	  		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	  			<div class="container-fluid">
	  				<div class="input-group">
	  					<input id="messagetext" type="text" class="form-control">
	  					<span class="input-group-btn">
	  						<button id="sendmessage" class="btn btn-default" type="button">Send</button>
	  					</span>
	  				</div><!-- /input-group -->
	  			</div>
	  		</nav>

	  		

	  	</div>

	  </body>
	  </html>