
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='82861358-4',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <meta name="apple-mobile-web-app-capable" content="yes">	 
	<meta charset="utf-8">
	<title>Spanglish</title>
	<meta name="description" content=""/>

	<!-- Loading Bootstrap -->
	<link href="../flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Loading Flat UI -->
	<link href="../flat-ui/css/flat-ui.css" rel="stylesheet">
	<link href="../flat-ui/css/demo.css" rel="stylesheet">


  	<link href="../css/spanglish.css" rel="stylesheet">

	  <link href='http://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">



	<link rel="shortcut icon" href="../flat-ui/flat-ui/images/favicon.ico">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="flat-ui/js/html5shiv.js"></script>
	      <script src="flat-ui/js/respond.min.js"></script>
	      <![endif]-->
	  </head>
	  <body>
	  	<script>
	  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	          ga('create', 'UA-48453636-2', 'spanglish.herokuapp.com');
	          ga('send', 'pageview');

	  		window.onload = sendTime();

	  		function sendTime() {
	  			var elapsed = {{timeElapsed}};
	  			console.log("conversation.handlebars --> time to reach conversation page: " + elapsed);

	  			ga('send', 'event', 'Record Time To Reach Convo', 'click', elapsed);	  		
			}
	  	</script>

	  	<div class="container-fluid">
	  		
	  		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  			<div class="container-fluid back-button">
	  				<a class="click-area" href="../chat"><i class="fa fa-chevron-left fa-lg"></i></a>
	  				<p class="name">{{friend.name}} </p>
	  			</div>
	  		</nav>
	  		


	  		<div class="convo" id = "conversationbody">
	  			{{#each messages}}
	  			<div class="message well {{type}}">
	  				<img class="img-circle convo-pic" src="{{message.sender.image}}"/>
	  				<div class="from-date">
	  					<h5>{{message.sender.name}}</h5>
	  					<p>{{message.send_time}}</p>
	  				</div>
	  				
	  				<p class="msg-text">{{message.translated}}</p>
	  			</div>
	  			{{/each}}
	  		</div>

	  	
	  		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">

	  			<div class="container-fluid">
	  				<div class="navbar-btn input-group">
	  					<input id="messagetext" type="text" class="form-control">
	  					<span class="input-group-btn">
	  						<button id="sendmessage" class="btn btn-default" type="button">Send</button>
	  					</span>
	  				</div> <!-- /input-group -->

	  			</div>
	  		</nav>	  	
	  	</div>

	  	<script src="https://code.jquery.com/jquery.js"></script>
	  	<script src="/js/conversation.js"></script>

	  	<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48453636-2', 'spanglish.herokuapp.com');
          ga('send', 'pageview');
        </script>
	  </body>
	  </html>